<a href="https://colab.research.google.com/github/Wilma1088/mypackage/blob/master/Zindi_Challenge_V5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Honour Code**
I Wilma Nel, confirm - by submitting this document - that the solutions in this notebook are a result of my own work and that I abide by the EDSA honour code (https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract.

## Downloaded data
Downloaded data files from: https://zindi.africa/hackathons/edsa-sendy-logistics-challenge/data

## Imports

Imported files to utilise throughout notebook.

Additional imports may be noted within the notebook.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn import preprocessing
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

from tqdm import tqdm
import math
import random

from scipy.stats import norm, skew #for some statistics

from google.colab import files
import io

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## Explanatory Data Analysis (EDA)

In [2]:
uploaded = files.upload()

Saving Riders.csv to Riders.csv
Saving Test.csv to Test.csv
Saving Train.csv to Train.csv

**Riders Dataframe**

In [3]:
riders_df = pd.read_csv(io.BytesIO(uploaded['Riders.csv']))
riders_df.columns= [col.replace(' ', '_') for col in riders_df.columns]
riders_df.head()

       Rider_Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0  Rider_Id_396          2946  2298            14.0           1159
1  Rider_Id_479           360   951            13.5            176
2  Rider_Id_648          1746   821            14.3            466
3  Rider_Id_753           314   980            12.5             75
4  Rider_Id_335           536  1113            13.7            156

**Test Dataframe**

In [4]:
test_df = pd.read_csv(io.BytesIO(uploaded['Test.csv']))
test_df.columns= [col.replace(' ', '_') for col in test_df.columns]
test_df.head()

         Order_No       User_Id  ... Destination_Long      Rider_Id
0  Order_No_19248  User_Id_3355  ...        36.822390  Rider_Id_192
1  Order_No_12736  User_Id_3647  ...        36.823907  Rider_Id_868
2    Order_No_768  User_Id_2154  ...        36.851365   Rider_Id_26
3  Order_No_15332  User_Id_2910  ...        36.790658  Rider_Id_685
4  Order_No_21373  User_Id_1205  ...        36.792161  Rider_Id_858

[5 rows x 25 columns]

**Train Dataframe**

In [5]:
train_df = pd.read_csv(io.BytesIO(uploaded['Train.csv']))
train_df.columns= [col.replace(' ', '_') for col in train_df.columns]
train_df.head()

         Order_No       User_Id  ...      Rider_Id  Time_from_Pickup_to_Arrival
0   Order_No_4211   User_Id_633  ...  Rider_Id_432                          745
1  Order_No_25375  User_Id_2285  ...  Rider_Id_856                         1993
2   Order_No_1899   User_Id_265  ...  Rider_Id_155                          455
3   Order_No_9336  User_Id_1402  ...  Rider_Id_855                         1341
4  Order_No_27883  User_Id_1737  ...  Rider_Id_770                         1214

[5 rows x 29 columns]

**Merging Datasets**

In [6]:
riders_df.columns

Index(['Rider_Id', 'No_Of_Orders', 'Age', 'Average_Rating', 'No_of_Ratings'], dtype='object')

In [7]:
train_df.columns

Index(['Order_No', 'User_Id', 'Vehicle_Type', 'Platform_Type',
       'Personal_or_Business', 'Placement_-_Day_of_Month',
       'Placement_-_Weekday_(Mo_=_1)', 'Placement_-_Time',
       'Confirmation_-_Day_of_Month', 'Confirmation_-_Weekday_(Mo_=_1)',
       'Confirmation_-_Time', 'Arrival_at_Pickup_-_Day_of_Month',
       'Arrival_at_Pickup_-_Weekday_(Mo_=_1)', 'Arrival_at_Pickup_-_Time',
       'Pickup_-_Day_of_Month', 'Pickup_-_Weekday_(Mo_=_1)', 'Pickup_-_Time',
       'Arrival_at_Destination_-_Day_of_Month',
       'Arrival_at_Destination_-_Weekday_(Mo_=_1)',
       'Arrival_at_Destination_-_Time', 'Distance_(KM)', 'Temperature',
       'Precipitation_in_millimeters', 'Pickup_Lat', 'Pickup_Long',
       'Destination_Lat', 'Destination_Long', 'Rider_Id',
       'Time_from_Pickup_to_Arrival'],
      dtype='object')

In [8]:
test_df.columns

Index(['Order_No', 'User_Id', 'Vehicle_Type', 'Platform_Type',
       'Personal_or_Business', 'Placement_-_Day_of_Month',
       'Placement_-_Weekday_(Mo_=_1)', 'Placement_-_Time',
       'Confirmation_-_Day_of_Month', 'Confirmation_-_Weekday_(Mo_=_1)',
       'Confirmation_-_Time', 'Arrival_at_Pickup_-_Day_of_Month',
       'Arrival_at_Pickup_-_Weekday_(Mo_=_1)', 'Arrival_at_Pickup_-_Time',
       'Pickup_-_Day_of_Month', 'Pickup_-_Weekday_(Mo_=_1)', 'Pickup_-_Time',
       'Distance_(KM)', 'Temperature', 'Precipitation_in_millimeters',
       'Pickup_Lat', 'Pickup_Long', 'Destination_Lat', 'Destination_Long',
       'Rider_Id'],
      dtype='object')

In [9]:
df = pd.concat([train_df, test_df], axis=0, ignore_index=True)
df.head()

         Order_No       User_Id  ...      Rider_Id  Time_from_Pickup_to_Arrival
0   Order_No_4211   User_Id_633  ...  Rider_Id_432                        745.0
1  Order_No_25375  User_Id_2285  ...  Rider_Id_856                       1993.0
2   Order_No_1899   User_Id_265  ...  Rider_Id_155                        455.0
3   Order_No_9336  User_Id_1402  ...  Rider_Id_855                       1341.0
4  Order_No_27883  User_Id_1737  ...  Rider_Id_770                       1214.0

[5 rows x 29 columns]

In [10]:
df = df.merge(riders_df, left_on='Rider_Id', right_on='Rider_Id', how='left')

In [11]:
df.dtypes

Order_No                                      object
User_Id                                       object
Vehicle_Type                                  object
Platform_Type                                  int64
Personal_or_Business                          object
Placement_-_Day_of_Month                       int64
Placement_-_Weekday_(Mo_=_1)                   int64
Placement_-_Time                              object
Confirmation_-_Day_of_Month                    int64
Confirmation_-_Weekday_(Mo_=_1)                int64
Confirmation_-_Time                           object
Arrival_at_Pickup_-_Day_of_Month               int64
Arrival_at_Pickup_-_Weekday_(Mo_=_1)           int64
Arrival_at_Pickup_-_Time                      object
Pickup_-_Day_of_Month                          int64
Pickup_-_Weekday_(Mo_=_1)                      int64
Pickup_-_Time                                 object
Arrival_at_Destination_-_Day_of_Month        float64
Arrival_at_Destination_-_Weekday_(Mo_=_1)    float64
Arrival_at_Destination_-_Time                 object
Distance_(KM)                                  int64
Temperature                                  float64
Precipitation_in_millimeters                 float64
Pickup_Lat                                   float64
Pickup_Long                                  float64
Destination_Lat                              float64
Destination_Long                             float64
Rider_Id                                      object
Time_from_Pickup_to_Arrival                  float64
No_Of_Orders                                   int64
Age                                            int64
Average_Rating                               float64
No_of_Ratings                                  int64
dtype: object

In [12]:
df.corr()

                                           Platform_Type  ...  No_of_Ratings
Platform_Type                                   1.000000  ...      -0.033335
Placement_-_Day_of_Month                        0.013958  ...      -0.001765
Placement_-_Weekday_(Mo_=_1)                   -0.058637  ...      -0.025075
Confirmation_-_Day_of_Month                     0.013963  ...      -0.001768
Confirmation_-_Weekday_(Mo_=_1)                -0.058612  ...      -0.025091
Arrival_at_Pickup_-_Day_of_Month                0.013963  ...      -0.001768
Arrival_at_Pickup_-_Weekday_(Mo_=_1)           -0.058612  ...      -0.025091
Pickup_-_Day_of_Month                           0.013963  ...      -0.001768
Pickup_-_Weekday_(Mo_=_1)                      -0.058612  ...      -0.025091
Arrival_at_Destination_-_Day_of_Month           0.012770  ...      -0.001712
Arrival_at_Destination_-_Weekday_(Mo_=_1)      -0.058005  ...      -0.025768
Distance_(KM)                                   0.005981  ...       0.051564
Temperature                                     0.220127  ...      -0.011631
Precipitation_in_millimeters                   -0.050634  ...       0.026166
Pickup_Lat                                     -0.003386  ...       0.022272
Pickup_Long                                     0.019767  ...      -0.000348
Destination_Lat                                 0.006558  ...       0.008331
Destination_Long                                0.042425  ...      -0.003407
Time_from_Pickup_to_Arrival                    -0.003827  ...       0.005609
No_Of_Orders                                    0.024942  ...       0.855190
Age                                            -0.073152  ...       0.648936
Average_Rating                                 -0.016428  ...       0.074726
No_of_Ratings                                  -0.033335  ...       1.000000

[23 rows x 23 columns]

In [13]:
df = df.drop(['Placement_-_Weekday_(Mo_=_1)', 'Placement_-_Weekday_(Mo_=_1)', 
              'Confirmation_-_Day_of_Month', 'Confirmation_-_Weekday_(Mo_=_1)', 
              'Arrival_at_Pickup_-_Day_of_Month','Arrival_at_Pickup_-_Weekday_(Mo_=_1)', 
              'Pickup_-_Day_of_Month','Pickup_-_Weekday_(Mo_=_1)', 
              'Arrival_at_Destination_-_Day_of_Month', 
              'Arrival_at_Destination_-_Weekday_(Mo_=_1)', 
              'Arrival_at_Destination_-_Time', 'No_of_Ratings', 'Age' ], axis = 1)

In [14]:
df.head()

         Order_No       User_Id  ... No_Of_Orders  Average_Rating
0   Order_No_4211   User_Id_633  ...         1637            13.8
1  Order_No_25375  User_Id_2285  ...          396            13.6
2   Order_No_1899   User_Id_265  ...         1023            12.5
3   Order_No_9336  User_Id_1402  ...          886            14.5
4  Order_No_27883  User_Id_1737  ...         2311            14.1

[5 rows x 21 columns]

**NaN Value Checks**

In [15]:
df.isnull().sum()

Order_No                            0
User_Id                             0
Vehicle_Type                        0
Platform_Type                       0
Personal_or_Business                0
Placement_-_Day_of_Month            0
Placement_-_Time                    0
Confirmation_-_Time                 0
Arrival_at_Pickup_-_Time            0
Pickup_-_Time                       0
Distance_(KM)                       0
Temperature                      5803
Precipitation_in_millimeters    27518
Pickup_Lat                          0
Pickup_Long                         0
Destination_Lat                     0
Destination_Long                    0
Rider_Id                            0
Time_from_Pickup_to_Arrival      7068
No_Of_Orders                        0
Average_Rating                      0
dtype: int64

In [16]:
df['Temperature'].fillna((df['Temperature'].mean()), inplace=True)

In [17]:
df['Precipitation_in_millimeters'].fillna((df['Precipitation_in_millimeters'].mean()), inplace=True)

In [18]:
df['Time_from_Pickup_to_Arrival'].fillna((df['Time_from_Pickup_to_Arrival'].mean()), inplace=True)

In [19]:
df.isnull().sum()

Order_No                        0
User_Id                         0
Vehicle_Type                    0
Platform_Type                   0
Personal_or_Business            0
Placement_-_Day_of_Month        0
Placement_-_Time                0
Confirmation_-_Time             0
Arrival_at_Pickup_-_Time        0
Pickup_-_Time                   0
Distance_(KM)                   0
Temperature                     0
Precipitation_in_millimeters    0
Pickup_Lat                      0
Pickup_Long                     0
Destination_Lat                 0
Destination_Long                0
Rider_Id                        0
Time_from_Pickup_to_Arrival     0
No_Of_Orders                    0
Average_Rating                  0
dtype: int64

In [20]:
df.head()

         Order_No       User_Id  ... No_Of_Orders  Average_Rating
0   Order_No_4211   User_Id_633  ...         1637            13.8
1  Order_No_25375  User_Id_2285  ...          396            13.6
2   Order_No_1899   User_Id_265  ...         1023            12.5
3   Order_No_9336  User_Id_1402  ...          886            14.5
4  Order_No_27883  User_Id_1737  ...         2311            14.1

[5 rows x 21 columns]

**Dropping irrelevant columns**

In [21]:
df = df.drop(['Order_No','User_Id','Vehicle_Type', ],axis=1) # test merging the rider dataset and then don't drop rider ID
df.head()

   Platform_Type Personal_or_Business  ...  No_Of_Orders Average_Rating
0              3             Business  ...          1637           13.8
1              3             Personal  ...           396           13.6
2              3             Business  ...          1023           12.5
3              3             Business  ...           886           14.5
4              1             Personal  ...          2311           14.1

[5 rows x 18 columns]

**Encoding catergorical**

In [22]:
df = df.drop(['Placement_-_Time','Confirmation_-_Time','Arrival_at_Pickup_-_Time','Pickup_-_Time', 'Rider_Id'],axis=1)

In [23]:
df.dtypes

Platform_Type                     int64
Personal_or_Business             object
Placement_-_Day_of_Month          int64
Distance_(KM)                     int64
Temperature                     float64
Precipitation_in_millimeters    float64
Pickup_Lat                      float64
Pickup_Long                     float64
Destination_Lat                 float64
Destination_Long                float64
Time_from_Pickup_to_Arrival     float64
No_Of_Orders                      int64
Average_Rating                  float64
dtype: object

In [24]:
df = pd.get_dummies(df)
df.head()

   Platform_Type  ...  Personal_or_Business_Personal
0              3  ...                              0
1              3  ...                              1
2              3  ...                              0
3              3  ...                              0
4              1  ...                              1

[5 rows x 14 columns]

In [25]:
df = df.drop(['Personal_or_Business_Personal'],axis=1)

**Modelling**

In [26]:
df.head()

   Platform_Type  ...  Personal_or_Business_Business
0              3  ...                              1
1              3  ...                              0
2              3  ...                              1
3              3  ...                              1
4              1  ...                              0

[5 rows x 13 columns]

In [27]:
# train test split
y = df[:len(train_df)][['Time_from_Pickup_to_Arrival']]
x_train = df[:len(train_df)].drop('Time_from_Pickup_to_Arrival',axis=1)
x_test = df[len(train_df):].drop('Time_from_Pickup_to_Arrival',axis=1)
x = df[:len(train_df)].drop('Time_from_Pickup_to_Arrival',axis=1)

**Load Model**

In [28]:
lr = LinearRegression()
####try different models on different versions, go wild! to see results

In [29]:
# Using just the training dataset to test model accuracy 
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.2, random_state=42)

**Fitting Model**

In [30]:
lr.fit(x_train,y_train)

preds = lr.predict(x_test)

In [31]:
def rmse(y_test, y_predict):
    return np.sqrt(mean_squared_error(y_test, y_predict))

In [32]:
rmse(y_test, preds)

801.7012603422797

In [33]:
from sklearn.metrics import r2_score

In [34]:
r2_score(y_test, preds) 
### checking for accuracy

0.3382906092239437

# Making a submission

In [ ]:
x_train = df[:len(train_df)].drop('Time_from_Pickup_to_Arrival',axis=1)
x_test = df[len(train_df):].drop('Time_from_Pickup_to_Arrival',axis=1)

In [ ]:
lr.fit(x_train,y)

preds = lr.predict(x_test)

In [ ]:
preds

array([[1529.36646186],
       [1486.35107376],
       [1500.40190691],
       ...,
       [1491.74756087],
       [1496.54118966],
       [1478.93308595]])

In [ ]:
daf=pd.DataFrame(preds, columns=['Time from Pickup to Arrival'])
daf.head()

   Time from Pickup to Arrival
0                  1529.366462
1                  1486.351074
2                  1500.401907
3                  1499.295873
4                  1490.490290

In [ ]:
output = pd.DataFrame({'Order No':test_df['Order_No']})
submission = output.join(daf)        
submission.to_csv("submission.csv", index=False)

In [ ]:
submission.head()

         Order No  Time from Pickup to Arrival
0  Order_No_19248                  1529.366462
1  Order_No_12736                  1486.351074
2    Order_No_768                  1500.401907
3  Order_No_15332                  1499.295873
4  Order_No_21373                  1490.490290

In [ ]:
print("Sendy Submission : 792.392440722007")

Sendy Submission : 792.392440722007